
body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  color: #2e2e2e;
}
h1 {
  width: 9.5em;
  margin: 1.5% auto;
  letter-spacing: 0.1em;
  color: #006400;
}
ul {
  border: 2px solid #242424;
  border-radius: 0.6em;
  list-style-type: none;
  background-color: #000000;
}
ul li:focus {
  color: #2f4f4f;
}
ul a {
  text-decoration: none;
  color: #727200;
}
ul a:hover {
  text-decoration: underline;
  color: #969600;
}
nav#ui {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
ul.nav {
  margin: 0.8% auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0.6em;
  line-height: 1.3em;
  font-size: 1.1em;
}
ul.gate {
  width: 10em;
  margin: 0.5em auto;
  line-height: 2.3em;
  padding: 0.8em 0;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}
header#auricle {
  width: 10em;
  margin: 1% auto;
  border: 2px solid #242424;
  border-radius: 0.8em;
  background-color: #000000;
  padding: 0.5em;
}
header#auricle nav {
  font-size: 1.2em;
  color: #727200;
}
header#auricle nav:hover {
  color: #969600;
  cursor: pointer;
}
section.jiandu {
 /* width: 29.6em; */
  width: 43em;
  margin: 1% auto;
  overflow: hidden;
}
section.jiandu pre {
  margin: 0;
  background-color: #000000;
  border: 2px solid #242424;
  border-radius: 1em;
  padding: 0.8em 0 0 1.3em;
  text-align: left;
  font-size: 1.2em;
  color: #969600;
}
span.key {
  font-size: 1.1em;
  color: #4f4f4f;
}
aside#logo {
  width: 6em;
  height: 6em;
  margin: 1% auto;
  background-color: #000000;
  border: 2px solid #242424;
  border-radius: 0.8em;
  padding: 0.5em 0 0 0.15em;
}
aside#logo img {
  margin: 0;
  padding: 0;
}
footer#ftr {
  padding: 0 0.8em;
}
p.attr {
  font-family: sans-serif;
  font-size: 0.88em;
  color: #404040;
}
@media screen and (max-width: 700px) {
  header#auricle nav {
    font-size: 1em;
  }
  section.jiandu {
    width: 23.3em;
   /* width: 33em; */
  }
  section.jiandu pre {
    border: 2px solid #242424;
    border-radius: 1em;
    padding: 0.8em 0 0 0.8em;
    font-size: 0.95em;
  }
}

